body{
	margin: 0 auto;
	color: grey;
}

@font-face {
    font-family: 'BAUHS93';
    src: url('fonts/BAUHS93/BAUHS93.eot');
    src: local('BAUHS93'), url('fonts/BAUHS93/BAUHS93.ttf') format('truetype');
}

.logo a{
	text-decoration: none;
    font-family: 'BAUHS93';
	font-size: 3em;
	text-shadow: 2px 2px 0px #DCDCDC;
	color: #8071B4;
	display: inline-block;
}

.welcome_msg{
	font-variant: small-caps;
	font-family:arial;
	font-size: 15px;
	font-weight: 100;
	max-width: 800px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-shadow:1px 1px #000;
	color: #DCDCDC;
	background: #F3F3F3;
	border: 1px solid #DCDCDC;
	margin-bottom: 15px;
	padding: 5px;
}

.confessions{
	font-family: sans-serif;
	font-size: 15px;
	font-weight: 800;
	font-variant: small-caps;
}

.confessionsData{
	font-family: sans-serif;
	font-size: 14px;
	font-weight: 100;
	vertical-align: top;
	display: inline-block;
}

.special_info{
	color: brown;
	font-size: 20px;
	max-width: 800px;
	display: inline-block;
}

.special_info .black{
	color: #000;
}

.confessionsData .info{
	font-family: sans-serif;
	font-size: 15px;
	font-weight: 800;
	padding: 5px;
	font-variant: small-caps;
	background: #F1F1F1;
	margin-bottom: 10px;
	color: red;
	max-width: 800px;
	border: 1px solid #DCDCDC;
}

.confessionsData .info .a{
	color: green;
}

.confessionsData .data{
	max-width: 750px;
	display: inline-block;
	color: #000;

}

.confessionsData .data_full{
	max-width: 750px;
	display: inline-block;
	color: #000;
}


.data{
	overflow:hidden; 
	max-height: 150px;
	text-overflow:ellipsis;
}

pre {
	 white-space: pre-wrap;       /* css-3 */
	 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	 white-space: -pre-wrap;      /* Opera 4-6 */
	 white-space: -o-pre-wrap;    /* Opera 7 */
	 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.confessionsData .sno a{
	vertical-align: top;
	color: blue;
	text-decoration: none;
}

.confessionsData .date,.confessionsData .date a{
	text-decoration: none;
	font-size: 10px;
	display: block;
	color: green;
	max-width: 150px;
	margin-top: 5px;
	margin-bottom: 5px;
	height: 15px;
	text-overflow:ellipsis;
	overflow: hidden;
}

.footer{
	margin-top: 30px;
	font-family: sans-serif;
	font-size: 15px;
	font-weight: 800;
	font-variant: small-caps;
}

.footer a{
	text-decoration: none;
	text-shadow:none;
	font-variant: normal;
	color: #8071B4;
}


.saveInfo{
}

.saveInfo{
	font-variant: small-caps;
	vertical-align: top;
	list-style-type: none;
}

.saveInfo .textarea{
	font-size: 12px;
	max-width:800px;
	height: 50px;
	margin-bottom: 5px;
	width: 100%;
}

.saveInfo .btn{
	font-variant: small-caps;
	padding: 7px;
	background: #2dac17;
	box-shadow:3px 3px #000;
	border: none;
	color: #FFF;
	font-family: sans-serif;
	font-size: 14px;
	text-shadow:2px 2px #000;
	cursor: pointer;
}

#fblike{
	margin-top: 5px;
	margin-bottom: 5px;
}

.line {
	 color:#F1F1F1; 
	 max-width: 800px;
	 width: 100%;
}

#fbcomments, .fb-comments, .fb-comments iframe[style], .fb-comments span {
width: 100% !important;
max-width: 850px;
}

@media all and (max-width: 480px) {
	.confessionsData .data{
		width: auto;
	}
	body{
		padding-left: 10px;
	}
	.logo a{
		font-size: 2em;
		text-shadow: 2px 2px 0px #DCDCDC;
	}
	.footer{
		margin-top: 15px;
		font-size: 15px;
		font-weight: normal;
		font-variant: small-caps;
	}
}

@media all and (min-width: 768px) {
	body{
		padding-left: 50px;
	}
}